/** General **/
body, h1, h2, h3, h4, h5, h6 {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/** App **/
.app-container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: auto;
    background-image: url('../assets/colosseum-coliseum-flavian-amphitheatre-rome_Anastasia-Zhenina_1440x960.jpg');
}

/** Global manage contest **/

.app-container {
    padding-top: 95px;
    z-index: 10;
}

/** Scheduler **/

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-color: rgb(180, 180, 180) rgb(200, 200, 200) rgb(255, 255, 255) rgb(200, 200, 200);
  border-style: solid;
}

.table {
  background-color: rgba(0, 85, 56, 0.8);
  color: rgba(255, 255, 255, 1);
}

.category {
  background-color: rgba(100, 185, 156, 0.8);
  color: rgba(0, 0, 0, 1);
}

.timer {
  background-color: rgba(152,221,252, 0.8);
  color: rgba(0, 0, 0, 1);
}

.form-category {
  background-color: rgba(100, 185, 156, 0.8);
  color: rgba(0, 0, 0, 1);

}